# Data preprocessing

In [1]:
import pandas as pd
import numpy as np
import time
from itertools import product

In [2]:
train = pd.read_csv('data/sales_train.csv')
test = pd.read_csv('data/test.csv').set_index('ID')

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              object
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB

In [4]:
train.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214200 entries, 0 to 214199
Data columns (total 2 columns):
shop_id    214200 non-null int64
item_id    214200 non-null int64
dtypes: int64(2)
memory usage: 4.9 MB

In [6]:
test.describe()

             shop_id        item_id
count  214200.000000  214200.000000
mean       31.642857   11019.398627
std        17.561933    6252.644590
min         2.000000      30.000000
25%        16.000000    5381.500000
50%        34.500000   11203.000000
75%        47.000000   16071.500000
max        59.000000   22167.000000

## Some explanations

| Column             | Info                                                          |
| ------------------ | ------------------------------------------------------------- |
| ID                 | an Id that represents a (Shop, Item) tuple within the test set|
| shop_id            | unique identifier of a shop     |
| item_id            | unique identifier of a productw    |
| item_category_id   | day of data in this row      |
| item_cnt_day       | number of products sold. You are predicting a monthly amount of this measure |
| item_price         | current price of an item   |
| date               | date in format dd/mm/yyyy |
| date_block_num     | a consecutive month number, used for convenience.   |
| item_name          | name of item |
| shop_name          | shop_name     |
| item_category_name | name of item category  |

* Training set: daily historical data from January 2013 to October 2015.
* Test set: forecast the sales for these shops and products for November 2015.

# Data preprocessing

## Data cleaning

In [7]:
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [8]:
train.item_price.describe().apply(lambda x: format(x, 'f'))

count    2935849.000000
mean         890.853233
std         1729.799631
min           -1.000000
25%          249.000000
50%          399.000000
75%          999.000000
max       307980.000000
Name: item_price, dtype: object

In [9]:
train[train.item_price > 100000]

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
1163158,13.12.2013,11,12,6066,307980.0,1.0

In [10]:
train[train.item_price < 0]

              date  date_block_num  shop_id  item_id  item_price  item_cnt_day
484683  15.05.2013               4       32     2973        -1.0           1.0

In [11]:
train.item_cnt_day.describe().apply(lambda x: format(x, 'f'))

count    2935849.000000
mean           1.242641
std            2.618834
min          -22.000000
25%            1.000000
50%            1.000000
75%            1.000000
max         2169.000000
Name: item_cnt_day, dtype: object

In [12]:
train[train.item_cnt_day>1000]

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
2909818,28.10.2015,33,12,11373,0.908714,2169.0

In [13]:
train = train[train.item_price<100000]
train = train[train.item_cnt_day<1000]
train = train[train.item_price>0]

Omit some abnormal rows.

In [14]:
test.head()

    shop_id  item_id
ID
0         5     5037
1         5     5320
2         5     5233
3         5     5232
4         5     5268

In [15]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214200 entries, 0 to 214199
Data columns (total 2 columns):
shop_id    214200 non-null int64
item_id    214200 non-null int64
dtypes: int64(2)
memory usage: 4.9 MB

In [16]:
[col for col in train.columns if col not in test.columns]

['date', 'date_block_num', 'item_price', 'item_cnt_day']

# Overview other csv

In [17]:
items = pd.read_csv('data/items.csv')
item_categories = pd.read_csv('data/item_categories.csv')
shops = pd.read_csv('data/shops.csv')

In [18]:
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [19]:
items.describe()

           item_id  item_category_id
count  22170.00000      22170.000000
mean   11084.50000         46.290753
std     6400.07207         15.941486
min        0.00000          0.000000
25%     5542.25000         37.000000
50%    11084.50000         40.000000
75%    16626.75000         58.000000
max    22169.00000         83.000000

In [20]:
items = pd.read_csv('data/items.csv')
shops = pd.read_csv('data//shops.csv')
cats = pd.read_csv('data/item_categories.csv')

In [21]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
item_name           22170 non-null object
item_id             22170 non-null int64
item_category_id    22170 non-null int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB

In [22]:
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [23]:
shops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
shop_name    60 non-null object
shop_id      60 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.0+ KB

In [24]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [25]:
cats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 2 columns):
item_category_name    84 non-null object
item_category_id      84 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB

In [26]:
cats.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

Unique data in item_categories.csv, shops.csv, items.csv mostly for explanation, seems meaningless for processing, just omit until finish analyzing.

# Data preprocessing -- monthly

In [27]:
[col for col in train.columns if col not in test.columns]

['date', 'date_block_num', 'item_price', 'item_cnt_day']

In [28]:
ts = time.time()
matrix = []
cols = ['date_block_num','shop_id','item_id']
for i in range(34):
    sales = train[train.date_block_num==i]
    matrix.append(np.array(list(product([i], sales.shop_id.unique(), sales.item_id.unique())), dtype='int16'))
    
matrix = pd.DataFrame(np.vstack(matrix), columns=cols)
matrix['date_block_num'] = matrix['date_block_num'].astype(np.int8)
matrix['shop_id'] = matrix['shop_id'].astype(np.int8)
matrix['item_id'] = matrix['item_id'].astype(np.int16)
matrix.sort_values(cols,inplace=True)

time.time() - ts

12.324696063995361

In [29]:
ts = time.time()
train['revenue'] = train['item_price'] *  train['item_cnt_day']

group = train.groupby(['date_block_num','shop_id','item_id']).agg({'item_cnt_day': ['sum']})
group.columns = ['item_cnt_month']
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=cols, how='left')
matrix['item_cnt_month'] = (matrix['item_cnt_month']
                                .fillna(0)
                                .clip(0,20) # NB clip target here
                                .astype(np.float16))
time.time() - ts

4.912158966064453